<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>TRUNG THU GAME</title>
</head>

<body>
<div style="display:flex; height: 100%;">
    <div style="width: 50%;">
        <div id="chest">
            <input type="password" placeholder="Enter password" id="password" />
            <button id="open">
                🔒
            </button>
        </div>
    </div>
    <div style="height:100%;display:flex;align-items: center; width: 50%;">
        <div class="gallery">
            <div class="frame">
                <img src="images/ruoc-den-trung-thu-1.jpg" alt="Image 1">
                <button onclick="goToGameKhoBau()">Game tìm kho báu bị ẩn</button>
            </div>
            <div class="frame">
                <img src="images/ruoc-den-trung-thu-1.jpg" alt="Image 2">
                <button onclick="goToGameBall1()">Giữ bóng</button>
            </div>
            <div class="frame">
                <img src="images/ruoc-den-trung-thu-1.jpg" alt="Image 3">
                <button onclick="goToGameBall1()">Nổ bóng</button>
            </div>
            <div class="frame">
                <img src="images/ruoc-den-trung-thu-1.jpg" alt="Image 4">
                <button onclick="goToGameDuck()">Vịt bầu run</button>
            </div>
            <div class="frame">
                <img src="images/ruoc-den-trung-thu-1.jpg" alt="Image 5">
                <button>Button 5</button>
            </div>
            <div class="frame">
                <img src="images/ruoc-den-trung-thu-1.jpg" alt="Image 6">
                <button>Button 6</button>
            </div>
        </div>
    </div>
</div>
<script>
    function goToGameKhoBau() {
      window.location.href="khobau"
    }

    function goToGameBall1() {
      window.location.href="ball.html"
    }

    function goToGameBall2() {
      window.location.href="ball.html"
    }

    function goToGameDuck() {
      window.location.href="TRex.html"
    }
</script>
</body>

</html>